.header-banner {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex; /* Utilisez flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Espace entre le titre et le bouton */
    align-items: center; /* Centre les éléments verticalement */
}

.connect-button {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.connect-button:hover {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
}

