.statistics-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: auto;
    padding: 0px;
}

.statistics-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #00346bd1;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.statistics-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: calc(50% - 10px);
}

.chart-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

