.general-form-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.specific-form-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: auto;
    padding: 0px;
}


.general-form-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #00346bd1;
    text-align: center;
    margin-bottom: 20px;
}

.specific-form-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #00346bd1;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.form-input {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form-input-readonly {
    background-color: #f8f8f8;
    color: #333;
    cursor: default;
}

.form-button {
    background-color: #00346bd1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.form-button:hover {
    background-color: white;
    color: #00346bd1;
    border: 1px solid #00346bd1;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-error-message {
    color: red;
    text-align: center;
}

.form-success-popup {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto;
    width: fit-content;
}

.form-additional-section {
    text-align: center;
    margin-top: 20px;
}

.form-centered-bold {
    text-align: center;
    font-weight: bold;
    color: black;
}

.form-question {
    margin-bottom: 20px;
}

.form-question > label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 5px;
}

.answer-list {
    list-style-type: none;
    padding-left: 0;
}

.answer-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: normal;
}

.answer-item input[type="radio"] {
    margin-right: 10px;
}

.answer-item:last-child {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.toggle-status-button.deactivate {
    background-color: #ff6347;
    color: white;
}

.toggle-status-button.activate {
    background-color: #32cd32;
    color: white;
}


