.layout-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.content-container {
    max-width: 600px;
    margin-left: 20px; /* Add a 20px margin between the sidebar and content */
}
