.layout-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.content-container {
    max-width: 600px;
    margin-left: 20px;
}

.loading-indicator {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #00346bd1;
    margin: 20px 0;
}
