/* standardizedStyles.css */
.base-style {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #f8f8f8;
}

.max-width-600 {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.center-text {
    text-align: center;
}

.layout-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.content-area {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: 20px;
}

.page-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #00346bd1;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.data-table-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Common list styles */
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.list-item-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toggle-button {
    background-color: #00346bd1;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
    background-color: white;
    color: #00346bd1;
}

.details, .detail-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

.detail-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.detail-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.detail-content {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 10px;
}

.correct-icon {
    color: green;
    margin-left: 5px;
}

.incorrect-icon {
    color: red;
    margin-left: 5px;
}


